{% extends "bootstrap/base.html" %}
{% block title %}About {% endblock %}

{% block navbar %}


<nav class="navbar navbar-light" style="background-color: #ffd700;">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01"
            aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo01"></div>
        <a class="navbar-brand" href="#" style="color:darkblue" style="font-size: 2rem;">Duckommerce.com</a>
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href={{ url_for("product_form") }}>Create</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href={{ url_for("get_all_products") }}>Scan</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href={{ url_for("product_form") }}>Update</a>
            </li>



        </ul>
    </div>
    </div>
</nav>
<div {% endblock %}