{% extends "base.html" %}


{% block title %} Catalog {% endblock %}

{% block content %}



<body>

    <div class="background" style="background-color: rgb(13, 91, 180)">

        <div class="row">
            {% for product in products %}
            <div class="col-lg-4">
                <img class="prod-img" src={{ url_for("static", filename="3ppatioset.jpg" ) }}>
                <div class="box-prod">
                    <h6><strong>{{ product["name"] }}</strong></h6>
                    <hr>
                    <button class="btn btn-outline-secondary add-btn">Add to Cart</button>
                    <h4 style="display: inline-block; ">{{product.price }}</h4>
                </div>
            </div>

            <div class="col-lg-4">
                <img class="prod-img" src={{ url_for("static", filename="Digital Watch.jpg" ) }}>
                <div class="box-prod">
                    <h6><strong>{{ product["name"] }}</strong></h6>
                    <hr>
                    <button class="btn btn-outline-secondary add-btn">Add to Cart </button>
                    <h4 style="display: inline-block; ">{{product.price }}</h4>
                </div>
            </div>

            <div class="col-lg-4">
                <img class="prod-img" src={{ url_for("static", filename="bean bag.jpg" ) }}>
                <div class="box-prod">
                    <h6><strong>{{ product["name"] }}</strong></h6>
                    <hr>
                    <button class="btn btn-outline-secondary add-btn">Add to Cart </button>
                    <h4 style="display: inline-block; ">{{product.price }}</h4>
                </div>
            </div>

            <div class="col-lg-4">
                <img class="prod-img" src={{ url_for("static", filename="rug.jpg" ) }}>
                <div class="box-prod">
                    <h6><strong>{{ product["name"] }}</strong></h6>
                    <hr>
                    <button class="btn btn-outline-secondary add-btn">Add to Cart </button>
                    <h4 style="display: inline-block; ">{{product.price }}</h4>
                </div>
            </div>

            <div class="col-lg-4">
                <img class="prod-img" src={{ url_for("static", filename="Yellow Sheets notepad.jpg" ) }}>
                <div class="box-prod">
                    <h6><strong>{{ product["name"] }}</strong></h6>
                    <hr>
                    <button class="btn btn-outline-secondary add-btn">Add to Cart </button>
                    <h4 style="display: inline-block; ">{{product.price }}</h4>
                </div>
            </div>

            <div class="col-lg-4">
                <img class="prod-img" src={{ url_for("static", filename="Jumbo Eraser.png" ) }}>
                <div class="box-prod">
                    <h6><strong>{{ product["name"] }}</strong></h6>
                    <hr>
                    <button class="btn btn-outline-secondary add-btn">Add to Cart </button>
                    <h4 style="display: inline-block; ">{{product.price }}</h4>

                </div>
            </div>

            <div class="col-lg-4">
                <img class="prod-img" src={{ url_for("static", filename="firep.jpg" ) }}>
                <div class="box-prod">
                    <h6><strong>{{ product"name"] }}</strong></h6>
                    <hr>
                    <button class="btn btn-outline-secondary add-btn">Add to Cart </button>
                    <h4 style="display: inline-block; ">{{product.price }}</h4>
                </div>
            </div>

            <div class="col-lg-4">
                <img class="prod-img" src={{ url_for("static", filename="T-shirt.jpg" ) }}>
                <div class="box-prod">
                    <h6><strong>{{ product["name"] }}</strong></h6>
                    <hr>
                    <button class="btn btn-outline-secondary add-btn">Add to Cart </button>
                    <h4 style="display: inline-block; ">{{product.price }}</h4>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</body>

</html>
{% endblock content %}