{% extends "base.html" %}

{% block content %}
<div class="container">
    <div class="page-header">



        <table class="table">



            <thead>
                <tr>
                    <th scope="col">id</th>
                    <th scope="col">Name</th>
                    <th scope="col">Price</th>
                    <th scope="col">Description</th>
                    <th scope="col">Category</th>
                    <th scope="col">Quantity</th>
                    <th scope="col">Unique_tag</th>
                </tr>
            </thead>

            <tbody>
                {% for product in products %}
                {% if product["active"] == 1 %}
                {% if product["quantity"] <= 500 %}
                {% if product["quantity"] <= 100 %}
                <tr class="table-danger">
                    {% else %}
                <tr class="table-warning">
                    {% endif %}
                    {% else %}
                <tr class="table-success">
                    {% endif %}
                    <th scope="row">{{ product["id"] }}</th>
                    <td>{{ product["name"] }}</td>
                    <td>{{ product["price"] }}</td>
                    <td>{{ product["category"] }}</td>
                    <td>{{ product["description"] }}</td>
                    <td>{{ product["quantity"] }}</td>
                    <td>{{ product["Unique_tag"] }}</td>

                </tr>
                {% endif %}
                {% endfor %}
                <br>
                <h3>Inventory List</h3>


            </tbody>
        </table>

    </div>
</div>

<div class="container">
    <p>Delete Product</p>
    <a href="/delete/{{ product_id }}" class="btn btn-outline-danger btn-sm">Delete</a>
</div>
{% endblock %}